<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow-5-strong" >
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img class="ven-img-logo" src="assets/images/ventu_white.png">
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/#que-es-ventu" class="nav-item nav-link">¿QUÉ ES VENTU?</a>
          <a href="/#card-contacto" class="nav-item nav-link">CONTACTO</a>
          <a href="/#precios" class="nav-item nav-link">PRECIOS</a>
          <a href="https://app.ventu.vip" target="_blank" class="nav-item nav-link active ven-btn-iniciar-sesion">INICIAR SESIÓN</a>
          <button class="ven-btn-crear-evento" (click)="irCrearEvento()">CREA TU EVENTO</button>
        </div>
      </div>
    </div>
  </nav>