<div class="row row-servicios">
  <div class="col-xs-12 col-sm-6 col-md-4 derecha-div">
    <div class="card card-servicio" style="margin-top: 0px !important">
      <div class="card-body">
        <img class="img-servicio" src="assets/images/qr-code.png" alt="" />
      </div>
      <div class="card-text centrar-texto">Invitaciones digitales</div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 centrar-div">
    <div class="card card-servicio">
      <div class="card-body">
        <img class="img-servicio" src="assets/images/contact-list.png" alt="" />
      </div>
      <div class="card-text centrar-texto">
        Listas de invitados actualizadas
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 izquierda-div">
    <div class="card card-servicio txt-administrar-eventos">
      <div class="card-body">
        <img class="img-servicio" src="assets/images/event.png" alt="" />
      </div>
      <div class="card-text centrar-texto">Administra eventos múltiples</div>
    </div>
  </div>
</div>
