<div class="row row-tu-mejor-aliado">
  <p style="text-align: center" class="titulo-tu-mejor-aliado">
    Tu mejor aliado para tu evento.
  </p>
  <div class="col">
    <img class="img-evento" title="Cumpleaños" src="assets/images/image 7.png" alt="" />
  </div>
  <div class="col">
    <img class="img-evento" title="Fiestas" src="assets/images/image 8.png" alt="" />
  </div>
  <div class="col">
    <img class="img-evento" title="Conferencias" src="assets/images/image 6.png" alt="" />
  </div>
  <div class="col">
    <img class="img-evento" title="Matrimonios" src="assets/images/image 5.png" alt="" />
  </div>
</div>
