<div class="row" id="que-es-ventu">
  <div class="col-sm-6 col-xs-12 mobile-screenshot"></div>
  <div class="col-sm-6 col-xs-12 col-ya-llego-ventu">
    <div class="div-texto" *ngIf="pagina == 'landing'">
      <h1 class="mb-4">
        Con VENTU puedes gestionar tus invitados a cualquier tipo de evento o
        reunión.
      </h1>
      <p class="mb-4">
        Desde bodas hasta eventos corporativos, mejoramos la seguridad y la
        información disponible de todos tus comenzales y solo necesitas un
        celular con acceso a internet para comenzar a utilizarlo.
      </p>
      <p class="mb-4">
        ¡Dile "adiós" a todos los papeles, anotaciones y mensajes con tus
        colaboradores!
      </p>
      <div class="strong-llego-ventu">
        <strong>Ya llego VENTU.</strong>
      </div>
    </div>
    <div class="div-texto" *ngIf="pagina == 'evento-reservado'">
      <h1>Descarga la app <span style="color: var(--sky-blue);">VENTU</span> de Google Play Store o Apple Store y comienza a organizar tu evento ya mismo.</h1>

    </div>
  </div>
</div>
