<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding-left: 0; padding-right: 0">
      <div style="display: flex; justify-content: space-between">
        <div class="redes-sociales">
          <i class="fa-brands fa-square-facebook icons" (click)="irFacebook()"></i>
          <i class="fa-brands fa-square-instagram icons" (click)="irInstagram()"></i>
          <p class="correo-info">info@ventu.vip</p>
        </div>
        <div>
          <p class="texto-ventu">Ventu</p>
          <p class="texto">Powered By QSM Solutions</p>
          <p class="texto">Copyright Ventu 2022</p>
        </div>
      </div>
      <div>
        <p class="advertencia">
          Importante: Ventu no se hace responsable de la calidad o satisfacción de los eventos publicados. Ventu es un sistema que presta el servicio de gestión de listas de invitados y eventos. Al usar este sitio usted acepta los términos y condiciones de la aplicación.
        </p>
      </div>
    </div>
  </div>
</div>
