.grid-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.contenedor {
    //height: 98%;
    //width: 93%;
    width: 93vw;
    //padding: 4% 1%;
    padding: 3vh 1%;
    border-radius: 32px;
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    gap: 15px;
}
.imagen-evento {
    margin: auto;
    // width: 100%;
    // height: 100%;
    // max-width: 58vw;
    // max-height: 58vw;
    width: 58vw;
    height: 58vw;
}
.native-input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.boton-confirmar {
    --background: #623bac;
    color: white;
    --border-radius: 10px;
    font-size: 16px;
    text-transform: none;
}
ion-input {
    border-radius: 10px;
    background-color: #3c3c3c;
}