<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="col">
    <h2 class="titulo-evento-reservado">
      TU EVENTO ESTÁ RESERVADO. TAN PRONTO VALIDEMOS TU COMPRA PODRÁS COMENZAR A
      ORGANIZARLO.
    </h2>
    <p class="texto">
      Una vez nos envíes tu comprobante de pago, revisa tu email para obtener
      tus credenciales si aún no las tienes. Si no lo encuentras, recuerda
      revisar la bandeja de Spam.
    </p>
  </div>
  <div style="display: flex; justify-content: flex-end;">
    <a class="button" href="https://app.ventu.vip" target="_blank">Inicia sesión en Ventu</a>
  </div>
  <app-mobile-screenshot pagina="evento-reservado"></app-mobile-screenshot>
  <app-resume pagina="evento_reservado"></app-resume>
  <div class="row row-consulta">
    <div class="col col-consulta mt-3">
      <span class="texto-boletin">¿Tienes alguna consulta? - </span>
      <a class="a-contactanos" href="/#card-contacto" target="_blank">¡Contáctanos!</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
